<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<br><br>
<a th:href="@{/employees/new}" 
class="btn btn-primary btn-sm"> Create Employee
</a>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th> FirstName</th>
      <th> LastName</th>
      <th> Email</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each = "aemployee : ${employeeList}">
      <td th:text = "${aemployee.firstName}"></td>
      <td th:text = "${aemployee.lastName}"></td>
      <td th:text = "${aemployee.email}"></td>
    </tr>
    
    
  </tbody>
</table>